.aboutWrap {
  @apply flex flex-col gap-7
}

.aboutBox {
  text-align: center;

}

.aboutBox>div:nth-child(1) {
  @apply text-6xl pb-6;
  /* color: #7661BE; */
  color: #7761be59;
  font-family: 'Freesentation-9Black';
}

.aboutBox>div:nth-child(2) {
  font-size: 1.8rem;
  font-family: "Do Hyeon", sans-serif;
  /* font-family: 'Pretendard-Regular';
  font-weight: 900; */
  color: transparent;
  background: linear-gradient(to right, #7761be59, #464174);
  -webkit-background-clip: text;
  background-clip: text;

  /* font-size: 1.5rem; */
  /* opacity: 0;
  animation: fadeIn 2s ease-in forwards; */
  /* padding: 16px; */
  /* padding-top: 50px; */
}

/* @keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
} */