.educationBox {
  @apply gap-10 pl-12 pb-12 mt-20;
}

.educationBox>div:nth-child(1) {
  @apply text-6xl pb-7 flex items-center justify-center;
  color: #7761be59;
  font-family: 'Freesentation-9Black';

}

.education>div:nth-child(1) {
  @apply text-3xl;
}

.educationWrap {
  @apply mt-9;
  padding-left: 4%;
  /* @apply p-6 grid;
  border-radius: 15px; 
  grid-template-columns: 150px 2fr; */
  /* width: 900px;
  box-shadow:
  0 1px 2px rgba(0, 0, 0, 0.07),
  0 2px 4px rgba(0, 0, 0, 0.07),
  0 4px 8px rgba(0, 0, 0, 0.07),
  0 8px 16px rgba(0, 0, 0, 0.07),
  0 16px 32px rgba(0, 0, 0, 0.07),
  0 32px 64px rgba(0, 0, 0, 0.07); */
  font-family: 'Pretendard-Regular';
}

.educationContent {
  @apply flex flex-col gap-2;
}

.educationContent>span:nth-child(1) {
  /* @apply text-2xl:; */
  font-weight: 700;
  font-size: x-large;
}

.educationWrap ul {
  /* list-style-type: disc; */
  margin: 0;
  padding-left: 20px;
}