.headerBox {
  @apply w-full flex justify-between items-center sticky;
  background-color: transparent;
  z-index: 1;
  backdrop-filter:blur(3px);
  top: 0
  /* box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.1); */
}

.headerBox>div {
  @apply p-5;
}

.indexBox {
  @apply flex gap-6 p-5;
}

.indexBox>a:hover {
  color: #685FAE;
}