

.container {
  display: flex;
  /* margin: 2% 0 0 2%; */
}

.profileBox {
  flex: 0.5;
  margin-right: 20px;
}

.rightBox {
  flex: 2;
  height: 100vh;
  overflow-y: auto;
  display:flex;
  flex-direction: column;
  gap: 50px;
  /* @apply mt-16; */
  /* flex: 0.7; */
  /* background-color: #gray; */
  /* height: 800px; */
  /* min-width: 70%; */
}