.container {
  @apply pt-5;
  display: grid;
  margin-left: 430px;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 20px
}

/* .profileBox {
  flex: 0.2;
  margin-right: 20px;
  min-width: 30%;
} */

.rightBox {
  @apply mt-16;
  /* flex: 0.7; */
  /* background-color: #gray; */
  /* height: 800px; */
  /* min-width: 70%; */
}